.header {
	height: 5em;
	display: flex;
	align-items: center;
	background-color: black;
	position: sticky;
	z-index: 100;
	min-width: 2em;
}

.header__logo {
	width: 100px;
	object-fit: contain;
	margin: 0 20px;
	margin-top: 20px;
}

.header__search {
	flex-grow: 1;
	min-width: 200px;
	align-items: center;
	border-radius: 24px;
}

.header__searchInput {
	min-width: 50px;
	border: none;
}

.header__nav {
	flex-grow: 0.25;
	display: flex;
	justify-content: space-evenly;
}
.header__option {
	display: flex;
	flex-direction: column;
	margin-left: 2em;
	margin-right: 20px;
	color: white;
}

.header__optionLineOne {
	font-size: 14px;
}

.header__optionLineTwo {
	font-size: 16px;
	font-weight: 800;
}

.header__optionBasket {
	display: flex;
	align-items: center;
	margin-top: 5px;
	color: white;
}

.header__basketCount {
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 10px;
}
