.header {
	height: 5em;
	display: flex;
	align-items: center;
	background-color: black;
}

.header__logo {
	width: 100px;
	object-fit: contain;
	margin: 0 20px;
	margin-top: 20px;
}

.header__search {
	flex-grow: 1;
	min-width: 200px;
	align-items: center;
	border-radius: 24px;
}

.header__searchInput {
	min-width: 50px;
	border: none;
}

.header__nav {
	flex-grow: 0.5;
	display: flex;
	justify-content: space-evenly;
}
.header__option {
	display: flex;
	color: white;
	font-size: 16px;
	font-weight: 800;
	align-self: center;
	text-decoration: none;
}

.header__optionLineOne {
	font-size: 14px;
}

.header__optionBasket {
	display: flex;
	color: white;
	align-self: center;
	text-decoration: none;
}

.header__basketCount {
	margin-top: 5px;
	margin-left: 10px;
}

.header__logout {
	cursor: pointer;
	display: flex;
	color: white;
	font-size: 16px;
	font-weight: 800;
	align-self: center;
}
